body {
    font-family: Arial, Georgia;
    margin: 0;
    padding: 0;
  }
  
  header, footer {
    background-color: #008000;
    color: #fff;
    padding: 30px;
    
  }

  p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  }
  
 li{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
 }
 
  h1 {
    text-align: center;
    color: #fdfdfd;
  }
  
  h2, h3 {
    color: #050404;
  }
  
  .team {
    background-color: #ffffff;
    padding: 20px;
  }
  
  .campaigns {
    padding: 20px;
  }
  
  .campaign {
    margin-bottom: 20px;
  }
  
  .campaign img {
    width: 500px;
    height: 500px;
    margin-bottom: 10px;
    

  }
  
  footer {
    background-color: #008000;
    color: #ffffff;
    text-align: center;
    padding: 10px;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
 section{
    margin-bottom: 20px;
 }


  ul li::before {
    content: "•";
    color: #333;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }